* {
    padding: 0px;
    margin: 0px;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    background: rgb(230, 230, 230);

    scroll-behavior: smooth;
}

.topbar {
    background-color: #892be265;
    backdrop-filter: blur(20px);
    padding: 1.5vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    box-shadow:
        0px 1.4px 1.7px rgba(0, 0, 0, 0.02),
        0px 3.4px 4.2px rgba(0, 0, 0, 0.028),
        0px 6.4px 7.9px rgba(0, 0, 0, 0.035);
}

.falsetopbar {
    background-color: #8a2be2;
    padding: 1.8em 0em;
    width: 100%;
}

ul {
    display: inline-block;
}

ul li {

    display: inline-block;
}

.topbar ul li a {

    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500px;
    color: white;
    padding: 0px 10px;
}

.flipkartlogo img {
    /* inthe topbar */
    /* position: absolute; */
    width: 5em;
    /* margin-right: 8em;
    margin-bottom: 2em; */

}

.flipkartlogo {
    position: absolute;
    margin-right: 45em;
    margin-bottom: 1.5em;
    display: flex;
    width: 7em;
}

.flipkartlogo :hover {
    cursor: pointer;
}

.explor {
    color: white;
    position: absolute;
    margin-top: 2.8em;
    font-size: .7em;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}

.explor:hover {
    border-bottom: .1em solid #ffe500;
}

.ex {
    margin-left: -5em;
}

#plus {
    color: #ffe500;
}

.explor img {
    width: 1em;
    margin-left: .2em;
}

.topbar ul li a:hover {
    color: wheat;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5em;

}

.search input {
    border: .2em solid white;
    border-radius: .3em;
    width: 20em;
    padding: .6em .8em;
    padding-right: 0.8em;
    outline: 0;
    font-family: 'Nunito', sans-serif;
    padding-right: 7.5em;
}

button img {
    width: 1.8em;
}

button {
    background: none;
    border: none;
    position: absolute;
    margin-left: 10em;
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px .3px rgba(0, 0, 0, 0.397));
    transition: ease-in-out;
}

.login {
    font-family: 'Nunito', sans-serif;
    background: white;
    color: #8a2be2;
    margin-left: 51em;
    padding: .4em 3em;
    border-radius: .1em;
    position: absolute;
    text-decoration: none;
}

.login:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

main {
    height: auto;
}



.cart {
    margin-left: .5em;
    margin-right: 0.2em;
    padding-top: .2em;
    width: 1.2em
}

#cartt {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    margin-top: .2em;
}

.a2 {
    text-decoration: none;
    margin-left: 1em;
}

.cartorg {
    display: flex;
    align-items: center;


}

#arrow {
    margin-left: 4px;
    margin-top: .2em;
    width: 10px;
    transition: .1s ease-in-out;
}


.aligntop {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#menu {
    color: #ffffff;
    margin-left: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500px;
}

#menutab {
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow:
        0px 0px 0.9px rgba(0, 0, 0, 0.042),
        0px 0px 2.1px rgba(0, 0, 0, 0.061),
        0px 0px 4px rgba(0, 0, 0, 0.075),
        0px 0px 7.1px rgba(0, 0, 0, 0.089),
        0px 0px 13.4px rgba(0, 0, 0, 0.108),
        0px 0px 32px rgba(0, 0, 0, 0.15);
    margin-left: 45em;
    position: fixed;
    margin-top: 3.5em;
    z-index: 3;
    background-color: #a67ad04d;
    backdrop-filter: blur(20px);
}

.tt3 {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menuicon {
    width: 16px;
    margin-right: 10px;
    filter: drop-shadow(0px 1.8px .9px rgba(0, 0, 0, 0.47));
}

.listmenu {
    padding: 10px;
}

.listmenu:hover {
    background-color: rgba(255, 255, 255, 0.24);
    cursor: pointer;
}

#menu:hover {
    cursor: pointer;
    color: wheat;

}

.hide {
    visibility: hidden;
}

.rotates {
    rotate: -180deg;
}

#menudiv {
    display: flex;
    align-items: center;
}

#menu2 {
    margin-left: 2em;
    color: white;
    cursor: pointer;
    background: white;
    color: #8a2be2;
    margin-left: 10em;
    padding: .4em 3em;
    border-radius: .1em;
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

#menu2:hover {
    background: #fb641b;
    color: white;
    box-shadow:
        0px 1.4px 1.7px rgba(0, 0, 0, 0.02),
        0px 3.4px 4.2px rgba(0, 0, 0, 0.028),
        0px 6.4px 7.9px rgba(0, 0, 0, 0.035),
        0px 11.4px 14.1px rgba(0, 0, 0, 0.042),
        0px 21.3px 26.3px rgba(0, 0, 0, 0.05),
        0px 51px 63px rgba(0, 0, 0, 0.07);

}

#menutab2 {
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.324);
    backdrop-filter: blur(2px); */

    position: fixed;
    margin-top: 3.5em;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        0px 1.4px 1.7px rgba(0, 0, 0, 0.02),
        0px 3.4px 4.2px rgba(0, 0, 0, 0.028),
        0px 6.4px 7.9px rgba(0, 0, 0, 0.035),
        0px 11.4px 14.1px rgba(0, 0, 0, 0.042),
        0px 21.3px 26.3px rgba(0, 0, 0, 0.05),
        0px 51px 63px rgba(0, 0, 0, 0.07);

    background-color: #0000009c;
    backdrop-filter: blur(20px);
}

.formlogin {
    height: 30em;
    width: 45em;
    margin-top: -5em;
    background: white;
    border-radius: .5em;
}

.blueside {
    height: 30em;
    width: 15em;
    background: #2874f0;
    border-radius: .5em 0em 0em .5em;
}

.userinputwindow {
    width: 30em;
    height: 30em;
    background: red;
    position: absolute;
}

#useremail {
    border: none;
    outline: 0cm;
    position: absolute;
    margin-left: 18em;
    margin-top: 5em;
    padding: 0em 1em;
    font-size: medium;
    width: 21.5em;
    height: 2em;
    border-bottom: 1.5px solid #e0e0e0;
}

#useremail:hover {
    border-bottom: 1.5px solid #2874f0;

}

#password {
    border: none;
    outline: 0cm;
    position: absolute;
    margin-left: 18em;
    margin-top: 9em;
    padding: 0em 1em;
    font-size: medium;
    width: 21.5em;
    height: 2em;
    border-bottom: 1.5px solid #e0e0e0;
}

#password:hover {
    border-bottom: 1.5px solid #2874f0;

}

.enteremail {
    position: absolute;
    margin-left: 22.5em;
    margin-top: 5em;
    font-family: 'Nunito', sans-serif;
    font-size: .8em;
    color: #878787;
}

.enterpass {
    position: absolute;
    margin-left: 22.5em;
    margin-top: 10em;
    font-family: 'Nunito', sans-serif;
    font-size: .8em;
    color: #878787;
}

.forgot {
    text-decoration: none;
    position: absolute;
    margin-left: 38em;
    margin-top: 9.5em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: 500;
    z-index: 1;
    color: #2874f0;
}

.termslog {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    margin-left: 24em;
    margin-top: 18em;
}

.logpri {
    text-decoration: none;
    color: #2874f0;
}

.loginred {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    width: 23.7em;
    height: 3em;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    margin-left: 18em;
    margin-top: 17em;
    cursor: pointer;
}

.loginred:hover {
    box-shadow:
        0px 1.4px 1.7px rgba(0, 0, 0, 0.02),
        0px 3.4px 4.2px rgba(0, 0, 0, 0.028),
        0px 6.4px 7.9px rgba(0, 0, 0, 0.035),
        0px 11.4px 14.1px rgba(0, 0, 0, 0.042),
        0px 21.3px 26.3px rgba(0, 0, 0, 0.05),
        0px 51px 63px rgba(0, 0, 0, 0.07);

}

.or {
    position: absolute;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    margin-left: 28.8em;
    margin-top: 20.5em;
    color: #787777;
}

.otp {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #2874f0;
    width: 23.7em;
    height: 3em;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    margin-left: 18em;
    margin-top: 22em;
    cursor: pointer;
}

.otp:hover {
    box-shadow:
        0px 1.4px 1.7px rgba(0, 0, 0, 0.02),
        0px 3.4px 4.2px rgba(0, 0, 0, 0.028),
        0px 6.4px 7.9px rgba(0, 0, 0, 0.035),
        0px 11.4px 14.1px rgba(0, 0, 0, 0.042),
        0px 21.3px 26.3px rgba(0, 0, 0, 0.05),
        0px 51px 63px rgba(0, 0, 0, 0.07);

}

.illus {
    width: 17em;
    margin-top: 2.5em;
    margin-left: -1em;
}

.biglog {
    color: white;
    font-size: 1.8em;
    font-family: 'Nunito', sans-serif;
    padding-top: 2em;
    padding-left: 1em;
}

.biglog2 {
    color: #dbdbdb;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
    padding-top: 2em;
    padding-left: 1.2em;
    line-height: 150%;
}

.newacc {
    text-decoration: none;
    position: absolute;
    color: #2874f0;
    font-size: .8em;
    font-family: 'Nunito', sans-serif;
    margin-top: 34em;
    margin-left: 29em;
}

.newacc:hover {
    color: blue;
}

#x {
    position: absolute;
    font-size: 2em;
    color: white;
    margin-left: 24em;
    margin-bottom: 16em;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

#x:hover {
    color: rgb(194, 194, 194);
}

/* from below category div starts */

.topcategorys {
    height: 8em;
    overflow: hidden;
    background: rgb(255, 255, 255);
    /* border: #ffffff solid 1px;
    border-radius: 6px; */
    filter: drop-shadow(0px 1px 3px grey);
}

.categories {
    width: 7em;
    position: absolute;
    /* display: flex; */
}

.categories:hover {
    width: 8em;
    transition: .2s;
    transition-timing-function: cubic-bezier(.54, .3, .56, .86);

}

.categorydiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.45em;

}

.categorytext {
    padding: 0px;
    position: absolute;
    margin-top: 7.2em;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    color: black;
}

.categorytext:hover {
    color: #8a2be2;
}

.categorydiv:hover {
    color: #8a2be2;
    cursor: pointer;
}

.sliddiv {
    background: white;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
}

.slider {
    position: relative;
    width: 78em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    align-items: center;

    overflow: hidden;
}

.images img {
    height: 18em;
    transition: all 0.15s ease;
    margin: 0px;
    padding: 0px;
}

.images input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 19em;
    padding: 0px;
    position: absolute;
}

.dots label {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: solid #8a2be2 2px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: .3em;
}

.godiv {
    width: 48em;
    height: 14em;
    z-index: 1;
    position: absolute;
    margin-left: 16em;
    margin-top: 3em;
    cursor: pointer;
    transition: .5s ease-in-out;
    display: flex;
    justify-content: flex-end;
}

.ani #go {
    z-index: 1;
    height: 1.3em;
    rotate: -90deg;
    margin-right: 16.42em;
    margin-top: 8.2em;


}

.godiv:hover {
    width: 48.5em;
}

.dots label:hover {
    background: grey;
}

#img1:checked~.img1s {
    margin-left: 0;
}

#img2:checked~.img2s {
    margin-left: -100%;
    z-index: 2;
}

#img3:checked~.img3s {
    margin-left: -216.5%;
    z-index: 2;
}

#img4:checked~.img4s {
    margin-left: -318.5%;
    z-index: 2;
}

#img5:checked~.img5s {
    margin-left: -418.35%;
    margin-bottom: 0.3em;
}

.productsline {
    height: 15em;
    background: white;
    /* border: 2px solid red; */
    margin-top: 1em;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 1px 3px grey);
}

.productdiv {
    background: white;
    border-radius: .8em;
    width: 16em;
    height: 12em;
    margin: 3em;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow:
        0px 1.4px 1.7px rgba(0, 0, 0, 0.02),
        0px 3.4px 4.2px rgba(0, 0, 0, 0.028),
        0px 6.4px 7.9px rgba(0, 0, 0, 0.035),
        0px 11.4px 14.1px rgba(0, 0, 0, 0.042),
        0px 21.3px 26.3px rgba(0, 0, 0, 0.05),
        0px 51px 63px rgba(0, 0, 0, 0.07);

}

.anchor {
    text-decoration: none;
    color: black;
}

.productdiv:hover {
    /* background: rgb(249, 245, 245); */
    cursor: pointer;
}

.productdiv img {
    width: 8em;
    margin-left: 3em;
    position: absolute;
}

.productdiv img:hover {
    width: 8.3em;
}

.primgtext1 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: grey;
    font-size: small;
    margin-top: 11em;
}

.primgtext2 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: .8em;
    margin-top: .5em;
}

#skateboard {
    margin-top: 2.5em;
}

#dell {
    margin-top: 1em;
}

.diwalisale {
    width: 78em;
    z-index: 2;
}

.banners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
    box-shadow:
        0px 1.4px 1.7px rgba(0, 0, 0, 0.02),
        0px 3.4px 4.2px rgba(0, 0, 0, 0.028),
        0px 6.4px 7.9px rgba(0, 0, 0, 0.035),
        0px 11.4px 14.1px rgba(0, 0, 0, 0.042),
        0px 21.3px 26.3px rgba(0, 0, 0, 0.05),
        0px 51px 63px rgba(0, 0, 0, 0.07);
}

.productsline2 {
    height: 23em;
    background: white;
    /* border: 2px solid red; */
    margin-top: 1em;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 1px 3px grey);
    overflow: hidden;
}

.banerdiv {
    background-image: url("img/banners/pastel_low_poly_background_croped.jpg");
    background-size: 14em;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 23em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.viewall {
    background: #8a2be2;
    font-family: 'Nunito', sans-serif;
    padding: .5em 1em;
    border-radius: .3em;
    margin-top: 9em;
    font-size: medium;
    position: absolute;
    cursor: pointer;
}

.viewall a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

.viewall:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.397));
}

.bestoff {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    margin: 1em;
    margin-bottom: 3em;
    text-align: center;
}

.subprdiv {
    width: 15em;
    height: 23em;
    margin: 0em 1em;
    overflow: hidden;
}

.subprdiv img {
    width: 15em;
    position: absolute;
    margin-top: 4em;
}

.subprdiv img:hover {
    width: 15.4em;
    cursor: pointer;
}

.subprdiv :hover {
    cursor: pointer;
}

.primgtext12 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: .9em;
    margin-top: 19em;
}

.primgtext123 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    margin-top: .4em;
    color: green;
}

.primgtext124 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: .9em;
    margin-top: .4em;
    color: grey;
}

.fg {
    text-decoration: none;
}

#budsimg {
    width: 9em;
    margin: 6em 2.4em;
}

#budsimg:hover {
    width: 9.3em;
}

#tvcr {
    width: 12em;
    margin: 5em 1em;
}

#tvcr:hover {
    width: 12.3em;
}

#pods {
    width: 8em;
    margin: 4em 3.7em;
}

#pods:hover {
    width: 8.3em;
}




/* this is footer bellow */

footer {
    margin: 0em;
    padding: 1em;
    padding-bottom: 0em;
    background: #172337;
    background-image: url(flipkart-clone/img/banners/trial\ bg\ new.png);
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-top: 2em;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.bigboxup {
    margin: 2em;
    display: flex;
    flex-direction: row;

}



.boxx1 {
    display: flex;
    flex-direction: column;
    margin: 0em 1em;
    width: 10em;
}

.aboutbt {
    color: #878787;
    font-size: .75em;
    font-weight: 400;
    margin-bottom: 9px;
}

.boxx1 a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    margin: .4em 0em;
}

.boxx1 a:hover {
    color: #fe4b4b;
}

.RRR {
    font-size: .8em;
    display: flex;
    text-align: left;
    line-height: 1.5;

}

#adds {
    margin-left: 2em;
    width: 16em;
    height: 8em;
    padding: 0em 1.5em;
    border-left: 1px solid #454d5e;
}

#addsss {
    width: 16em;
    height: 8em;
    padding: 0em 1.5em;
}

.bigboxdown {
    border-top: 1px solid #454d5e;
    padding: 1em 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.botomlist a {
    text-decoration: none;
    color: white;

}

.botomlist li {
    margin: 0em 1em;
}

.copyright {
    margin: 0em 1em;
}

.partners img {
    width: 25em;
    margin-left: 1em;
}

.botomlist li img {
    width: 1em;
    margin: 0em .3em;
    margin-bottom: -.1em;
}

.botomlist a:hover {
    color: #fe4b4b;
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0em;
    margin-top: 2em;
}

.aboutme a {
    text-decoration: none;
    opacity: 50%;
}


/* <!-- This  code was written by OMKAR G. PUNJAPWAR , totally from scratch using purely HTML , JS & CSS --> */